body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.head-section{
    background-image: url(/elements/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 75vh;
}