body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* reusable css */
.button{
    padding: 10px 30px;
    transition: all ease-in-out .3s;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    font-size: 14px;
}
.button:hover{
    text-decoration: none;
}

.button-transparent{
    border: 1px solid gray;
    color: #fff;
    background: transparent;
}
.button-transparent:hover {
    background: #fff;
    color: #000;
    border: none;
}

.text-red{
    color: red;
}


/* reusable css */

.head-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/elements/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 75vh;
}
.head-section__inner-container{
    height: 75vh;
}
